# Lab-customer-analysis-round-2

For this lab, we will be using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder. Check out the `files_for_lab/about.md` to get more information if you are using the Online Excel.

**Note**: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

In [9]:
import pandas as pd

## 1. Show the dataframe shape.

In [10]:
data = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv', index_col=0)
data.shape

(10910, 25)

## 2. Standardize header names.

In [11]:
data = data.rename(columns={'Customer':'id', 'EmploymentStatus':'employment_status'})
data.columns = data.columns.str.lower().str.strip().str.replace(' ', '_')

## 3. Which columns are numerical?

In [12]:
data.select_dtypes(include=['float', 'int']).dtypes

customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
total_claim_amount               float64
dtype: object

## 4. Which columns are categorical?

In [13]:
data.select_dtypes(include=['object']).dtypes

id                   object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
vehicle_type         object
dtype: object

## 5. Check and deal with `NaN` values.

In [14]:
data.isnull().sum()

id                                  0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [15]:
print(data['state'].value_counts())
print(data['state'].mode())
print(data['response'].value_counts())
print(data['response'].mode())
print(data['vehicle_class'].value_counts())
print(data['vehicle_class'].mode())
print(data['vehicle_size'].value_counts())
print(data['vehicle_size'].mode())
print(data['vehicle_type'].value_counts())
print(data['vehicle_type'].mode())

print(data['months_since_last_claim'].mean())
print(data['months_since_last_claim'].median())
print(data['number_of_open_complaints'].mean())
print(data['number_of_open_complaints'].median())

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64
0    California
dtype: object
No     8813
Yes    1466
Name: response, dtype: int64
0    No
dtype: object
Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: vehicle_class, dtype: int64
0    Four-Door Car
dtype: object
Medsize    7251
Small      1966
Large      1071
Name: vehicle_size, dtype: int64
0    Medsize
dtype: object
A    5428
Name: vehicle_type, dtype: int64
0    A
dtype: object
15.149070740488469
14.0
0.38425610586747105
0.0

In [16]:
#Repalcing NaN with the most common value in that column for categorical columns and median for numerical columns
replace_dict = {
    'id': '',
    'state': data['state'].mode(),
    'customer_lifetime_value': '',
    'response': 'No',
    'coverage': '',
    'education': '',
    'effective_to_date': '',
    'employment_status': '',
    'gender': '',
    'income': '',
    'location_code': '',
    'marital_status': '',
    'monthly_premium_auto': '',
    'months_since_last_claim': data['months_since_last_claim'].median(),
    'months_since_policy_inception': '',
    'number_of_open_complaints': data['number_of_open_complaints'].median(),
    'number_of_policies': '',
    'policy_type': '',
    'policy': '',
    'renew_offer_type': '',
    'sales_channel': '',
    'total_claim_amount': '',
    'vehicle_class': 'Four-Door Car',
    'vehicle_size': 'Medsize',
    'vehicle_type': 'A',  
}

for column in data.columns:
    data[column] = data[column].fillna(replace_dict[column])

## 6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. _Hint_: If data from March does not exist, consider only January and February.

In [17]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], errors='coerce')
print(data.dtypes)
print(data.isna().sum())

id                                       object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employment_status                        object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints               float64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
dtype: object
id                                 0
state                            631
customer_lifetime_value            0
response                           0
coverage                           0
education                          0
effective_to_date                  0
employment_status                  0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim            0
months_since_policy_inception      0
number_of_open_complaints          0
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                      0
vehicle_size                       0
vehicle_type                       0
dtype: int64

In [18]:
data['effective_to_month'] = pd.DatetimeIndex(data['effective_to_date']).month

In [19]:
data[data['effective_to_month'] == 3]

Empty DataFrame
Columns: [id, state, customer_lifetime_value, response, coverage, education, effective_to_date, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size, vehicle_type, effective_to_month]
Index: []

[0 rows x 26 columns]

In [20]:
data[(data['effective_to_month'] >= 1) & (data['effective_to_month'] <= 2)]

,id,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,effective_to_month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,NaN,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [21]:
# Exporting for use in Lab 1.05
data.to_csv('files_for_lab/csv_files/marketing_customer_analysis_clean.csv')

## 7. Put all the previously mentioned data transformations into a function.

In [22]:
def clean_dfheaders(df):
    df.rename(columns={'Customer':'id', 'EmploymentStatus':'employment_status'}, inplace=True)
    df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')
    return df
# using the 2 operations together only works when removing the 'df=' infront of the first satemment. Why?
# the first operation doesnt work at all in a function without the inplace parameter. Outside of a function it does work. Why?

def clean_df(df):
    replace_dict = {
        'id': '',
        'state': 'California',
        'customer_lifetime_value': '',
        'response': 'No',
        'coverage': '',
        'education': '',
        'effective_to_date': '',
        'employment_status': '',
        'gender': '',
        'income': '',
        'location_code': '',
        'marital_status': '',
        'monthly_premium_auto': '',
        'months_since_last_claim': df['months_since_last_claim'].median(),
        'months_since_policy_inception': '',
        'number_of_open_complaints': df['number_of_open_complaints'].median(),
        'number_of_policies': '',
        'policy_type': '',
        'policy': '',
        'renew_offer_type': '',
        'sales_channel': '',
        'total_claim_amount': '',
        'vehicle_class': 'Four-Door Car',
        'vehicle_size': 'Medsize',
        'vehicle_type': 'A',  
    }
# replacing the value with a mode() expression, e.g. 'state': data['state'].mode() doesnt'work. why?
    
    for column in df.columns:
        df[column] = df[column].fillna(replace_dict[column])
        
    df['effective_to_date'] = pd.to_datetime(df['effective_to_date'], errors='coerce')
    df['effective_to_month'] = pd.DatetimeIndex(df['effective_to_date']).month
        
    return df

In [23]:
clean_dfheaders(data)
clean_df(data)

data

KeyError: 'effective_to_month'

## 8. BONUS

### 8.1. List Comprehensions

#### 8.1.1 Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'.

In [ ]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
cap_letters = [letter for letter in sentence if letter.isupper() == True]
print(cap_letters)

#### 8.1.2. Use a list comprehension to create a list with the same elements rounded to 2 decimal positions.

In [ ]:
a = [
    0.84062117, 0.48006452, 0.7876326 , 0.77109654,
    0.44409793, 0.09014516, 0.81835917, 0.87645456,
    0.7066597 , 0.09610873, 0.41247947, 0.57433389,
    0.29960807, 0.42315023, 0.34452557, 0.4751035 ,
    0.17003563, 0.46843998, 0.92796258, 0.69814654,
    0.41290051, 0.19561071, 0.16284783, 0.97016248,
    0.71725408, 0.87702738, 0.31244595, 0.76615487,
    0.20754036, 0.57871812, 0.07214068, 0.40356048,
    0.12149553, 0.53222417, 0.9976855 , 0.12536346,
    0.80930099, 0.50962849, 0.94555126, 0.33364763
]

In [ ]:
b = [round(float, 2) for float in a]
print(b)

### 8.2. Lambdas

#### 8.2.1. Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension.

To do this, we will need to introduce the zip function. The zip function returns an iterator of tuples.

The way zip function works with list has been shown below:

In this exercise we will try to compare the elements on the same index in the two lists. We want to zip the two lists and then use a lambda expression to compare if: list1 element > list2 element